/* stylelint-disable at-rule-no-unknown */
/* PostCSS / Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
.slider-container:hover .animate-infinite-scroll,
.slider-container:hover .animate-infinite-scroll-reverse {
  animation-play-state: paused;
}